.container {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page {
    width: 100%;
    height: 95%;
    overflow: hidden;
    position: relative;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.icon {
    animation: infslide 1s ease-in-out alternate-reverse infinite;
}
@keyframes infslide {
    to {
        transform: translateX(10px);
    }
}

.section{
    width: 90%;
    height: 100%;
    position: relative;
    /* background-color: var(--secondary); */
    overflow: hidden;
}

.wrapper-text {
    width: 100%;
    height: 100%;
    /* animation: scrollup 2s ease-out ; */
}
@keyframes showUp {
    to {
        opacity: 1;
    }
}
@keyframes scrollup {
  0% {
      transform: translateY(-60%); /* setengah tinggi list → biar seamless */
    }
    100% {
      transform: translateY(0);
  }
}

.bg-text {
    /* opacity: 0; */
    font-family: var(--gloock);
    color: var(--primary);
    font-size: clamp(2rem, 10vw, 15rem);
    white-space: nowrap;
    text-align: center;
    /* animation: showUp 0.7s ease-out 0.5s forwards; */
}

.photo-card-1, .photo-card-2, .photo-card-3 {
    width: min(60%, 250px); /* responsive, max 400px */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    font-family: sans-serif;
    background-color: var(--secondary);
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #404040;
    gap: 10px;
}
.photo-card-1 {
    /* opacity: 0; */
    position: absolute;
    top: 70px;
    left: 60px;
    /* animation: photo1 0.8s ease-in-out 2s forwards; */
    transform: rotateZ(-15deg);
    transform: translateZ(0deg);
    transform-origin: top left;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
@keyframes photo1 {
    100% {
        opacity: 1;
        transform: rotateZ(-15deg);
    }
}

.photo-card-2 {
    /* opacity: 0; */
    position: absolute;
    top: 50px;
    left: 30px;
    /* animation: photo2 0.8s ease-in-out 2s forwards; */
    transform: rotateZ(-10deg);
    transform-origin: top left;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
@keyframes photo2 {
    to {
        opacity: 1;
        transform: rotateZ(-10deg);
    }
}
.photo-card-3 {
    position: absolute;
    right: 30px;
    bottom: 0;
    transform: rotateZ(10deg);
    /* opacity: 0; */
    /* animation: photo3 0.8s ease-in-out 2s forwards; */
    transform-origin: top right;
    z-index: 12;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.4);
}
@keyframes photo3 {
    to {
        transform: rotateZ(10deg);
        opacity: 1;
    }
}

.photo-card-image {
    width: 100%;
    aspect-ratio: 1 / 1; /* square */
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-card-text h3 {
    font-family: var(--paris);
    color: #404040;
}

#button {
    animation: infslide 0.8s ease-in-out alternate-reverse infinite;
}
@keyframes infslide {
    to {transform: translateX(10px);}
    
}

@media (max-width: 500px) {
    .photo-card-3 { right: 0; }
    .photo-card-2 { left: 0;}
    .photo-card-1 { left: 10px; }
}

.button {
    display: flex;
    gap: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-family: var(--gloock);
    color: var(--primary);
    font-size: 1.2rem;
    padding: 15px 0px;
    opacity: 0;
    transform: translateX(-30px);
    animation: slideright 0.8s ease-in-out forwards;
}

@keyframes slideright {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}