.landing-page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    width: 90%;
    height: 90%;
    position: relative;
    /* background-color: var(--secondary); */
    overflow: hidden;
}

.wrapper-text {
    width: 100%;
    height: 100%;
    animation: scrollup 2.5s ease-out ;
}
@keyframes showUp {
    to {
        opacity: 1;
    }
}
@keyframes scrollup {
  0% {
      transform: translateY(-60%); /* setengah tinggi list → biar seamless */
    }
    100% {
      transform: translateY(0);
  }
}

.bg-text {
    opacity: 0;
    font-family: var(--gloock);
    color: var(--primary);
    font-size: clamp(2rem, 10vw, 15rem);
    white-space: nowrap;
    text-align: center;
    animation: showUp 0.7s ease-out 0.5s forwards;
}

.photo-card-1, .photo-card-2, .photo-card-3 {
    width: min(60%, 250px); /* responsive, max 400px */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    font-family: sans-serif;
    background-color: var(--secondary);
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #404040;
    gap: 10px;
}
.photo-card-1 {
    position: absolute;
    top: 70px;
    left: 60px;
    transform: rotateZ(-15deg);
    animation: photo1 0.8s ease-in-out;
    transform-origin: top left;
}
.photo-card-2 {
    position: absolute;
    top: 50px;
    left: 30px;
    transform: rotateZ(-10deg);
    animation: photo1 0.8s ease-in-out;
    transform-origin: top left;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
@keyframes photo1 {
    from {
        opacity: 0;
        transform: rotateZ(0);
    }
}
.photo-card-3 {
    position: absolute;
    right: 30px;
    bottom: 0;
    transform: rotateZ(10deg);
    animation: photo3 0.8s ease-in-out;
    transform-origin: top right;
}
@keyframes photo3 {
    from {
        transform: rotateZ(0);
        opacity: 0;
    }
}

.photo-card-image {
    width: 100%;
    aspect-ratio: 1 / 1; /* square */
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-card-text h3 {
    font-family: var(--paris);
    color: #404040;
}

@media (max-width: 500px) {
    .photo-card-3 { right: 0; }
    .photo-card-2 { left: 0;}
    .photo-card-1 { left: 10px; }
}